body{
    background-color: azure;
    
    margin: 0%;
}
a:hover{
    background-color: azure;

}


.nav{
    width: 100vw;
    height: 10vh;
   background-color: black;
    display: flex;
    background-repeat: no-repeat;
    align-items: center;
    
    

}

    

.im{
    width: 15vw;
    height: 10vh;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 30px;
    color: rgb(254, 254, 255);
    display: flex;
    justify-content:flex-start;
    align-items: center;
    
}
.login{
    width: 15vw;
    height: 10vh;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 15px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: rgb(11, 12, 12);

}
.su{
    border-radius: 8px;
    width: 5vw;
    height: 5vh;
    display: flex;
    background-color: aliceblue;
    justify-content: center;
    align-items: center;
}
.cont{
    width: 40vw;
    height: 5vh;
    display: flex;
    background-color: rgb(10, 9, 9);
    color: rgb(243, 242, 242);
    align-items: center;
    justify-content: flex-end;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 15px;
}
.parent{
    width: 100vw;
    height: 80vh;
    display: flex;
}
.main{
    width: 50vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    
    
    animation: image 5s infinite alternate;


}
.text1{
    width: 50vw;
    height: 15vh;
    animation: test 3s infinite alternate;
    font-size: larger;
    font-family: 'Ubuntu', sans-serif;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    


}
.back{
    width: 50vw;
    height: 80vh;
   background-image: url("https://images.unsplash.com/photo-1614091199036-e934784dbf0f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8dWJlcnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.but{
    border-radius: 8px;
    border: 3px solid white;
    color: rgb(20, 20, 21);
    display: flex;
    font-family:'Ubuntu', sans-serif;
    font-size: 25px;
    
    

}
.but:hover{
    background-color: rgb(193, 148, 59);
    cursor: pointer;
    font-size: 35px;
}


    


  @keyframes image {
    0% {
      background-image: url('https://wallpaperaccess.com/full/781969.jpg');}
    
    
    100% {
      background-image: url('https://media.istockphoto.com/photos/smiling-taxi-driver-with-woman-passenger-pointing-on-road-picture-id1191909007?k=20&m=1191909007&s=170667a&w=0&h=nEwY4ybeBHARMBckM3JKp0Yljrt86u31G2EcnVjKfiM=');
    }
  }
  @keyframes test {
   from{color: #000;}
   to{color:  rgb(131,58,180);
    color: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(192,16,207,1) 52%, rgba(252,176,69,1) 100%);;}
  }
  * {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 100vvw;
  min-height: 100vhvh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(131,58,180);
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(207,16,75,1) 58%, rgba(252,176,69,1) 100%);;
  
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: showcard gothic;
  font-size: 40px;

}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}



